.row 
  .col.s4
    .card.user-profille
      .profile-inner
        .user-img
          - if !@user.user_image.nil?
            %img{:src => "#{@user.user_image}"}/
          - else 
            %img{:src => "https://www.naaavi.com/memo/wp-content/uploads/2020/08/html-imgtag-eyecatch.gif"}/
        .user-data
          %h6.user-name
            = @user.username
          %h6
            フォロー:
            = link_to(@user.followings.count,followings_user_path(@user.id))
          %h6
            フォロワー：
            = link_to(@user.followers.count,followers_user_path(@user.id))
      %p #{@user.comment}
      = link_to edit_user_path(@user.id) do
        = icon 'fa','edit'
        ユーザー情報を編集する
  .container.col.s8
    =render "layouts/newbtn"
    =link_to favorite_user_path(@user.id),class:"links" do
      = icon 'fa','book'
      お気に入りリスト
    -# = render('relationships/follow_form',user: @user) 
    %ul#tabs-swipe-demo.tabs
      %li.tab.col.s3
        %a{:href => "#test-swipe-1"} 投稿したTour
      %li.tab.col.s3
        %a.active{:href => "#test-swipe-2"} いいねしたTour
      %li.tab.col.s3
        =link_to favorite_user_path(@user.id),class:"links" do
          = icon 'fa','book'
          お気に入りリスト
    #test-swipe-1.col.s12.blue Test 1
    #test-swipe-2.col.s12.red Test 2
    #test-swipe-3.col.s12.green Test 3
    -if @tours.count == 0
      %p.text-center.mt-3 投稿したツアーはありません
    -@tours.each do |tour|
      = render "tours/index_item", tour: tour 
        
            

