.row 
  .col.s4
    .card.user-profille
      .profile-inner
        .user-img
          - if @user.user_image.present?
            %img{:src => "#{@user.user_image}"}/
          - else 
            = image_tag asset_path("noUser.jpg", alt: "ユーザー画像")
        .user-data
          %h6.user-name
            = @user.username
      %p #{@user.comment}
      = link_to edit_user_path(@user.id) do
        = icon 'fa','edit'
        ユーザー情報を編集する
  .container.col.s8
    =render "layouts/newbtn"
    %ul#tabs-swipe-demo.tabs
      %li.tab.col.s3
        %a.active{:href => "#test-swipe-1"} 投稿したツアー
      %li.tab.col.s3
        %a{:href => "#test-swipe-2"} お気に入りしたツアー
      %li.tab.col.s3
        %a{:href => "#test-swipe-3"} いいねしたツアー
    #test-swipe-1.col.s12
      -if @tours.empty?
        %p.text-center.mt-3 投稿したツアーはありません
      -else
        -@tours.each do |tour|
          = render "tours/index_item", tour: tour
    #test-swipe-2.col.s12
      -if @favorite_tours.empty?
        %p.text-center.mt-3 お気に入りしたツアーはありません
      -else
        -@favorite_tours.each do |tour|
          = render "tours/index_item", tour: tour
    #test-swipe-3.col.s12
      -if @like_tours.empty?
        %p.text-center.mt-3 いいねしたツアーはありません
      -else
        -@like_tours.each do |tour|
          = render "tours/index_item", tour: tour