
.card.content-box
  .card-image
    - if tour.spots.present? && tour.spots[0].spot_images.present?
      %img{:src => tour.spots[0].spot_images}/
    - else
      = image_tag asset_path("noImage.jpg", alt: "ツアー画像")
    = link_to "詳しくみる",tour_path(tour.id),class:" btn-floating halfway-fab red btn red darken-1"
  .card-content
    %h4.card-title 
      #{tour.tourname}
    .user_info
      .img_circle-show
        - if tour.user.user_image.present?
          %img{:src => tour.user.user_image}/
        - else
          = image_tag asset_path("noUser.jpg", alt: "ユーザー画像")
      =link_to("#{tour.user.username}さん",user_path(tour.user.id),class:"user_nameLink")
    %h6.card-subtitle.mb-2.text-muted 
    %p.card-text.tour_content-index{"data-placement" => "top", "data-toggle" => "tooltip", "title" => "#{tour.tourcontent}"}
      = truncate(tour.tourcontent,separator: '.',lendth:40) do
        =link_to("続きを読む",tour_path(tour.id))
    .tags_area
      .row.flex.mlclear-index
        .tag_left
          %p.tags_about.inline_tag タグ一覧 :
        .tag_right.tagList
          - if tour.tour_tags.present?
            - for i in 0..tour.tour_tags.split(",").length-1
              .chip
                #{tour.tour_tags.split(",")[i]}
    .info-box
      %h6.icons-show
        = icon "fa",'heart',class:"dislike good_icon"
        %span.likes_count #{tour.likes.count}
        = icon "fa",'edit'
        %span.comment_count #{tour.comments.count}
      .text-right
        %small 作成日時：#{tour.created_at.strftime('%m月%d日 %H時%M分' )}