%h2.page_title ツアー作成ページ
.row
  .col.s5
    .card
      = simple_form_for(@tour) do |f|
        = f.error_notification
        .form-inputs.form_group
          .input_top
            = f.label :ツアータイトル
            = f.input :tourname,label: false,placeholder:"(例)大人の隠れ家！鎌倉カフェ巡り", class:"form-control mb-3" 
          .spots_section.form_group.form-inputs.border
          .wrap
            = f.nested_fields_for :spots, wrapper_tag: :div do |s| 
              .inner
                .card.minustop
                  .spots_section.border
                    %h6.page_title.mb-3 スポット
                    .form-inputs.form_group
                      = s.label :画像
                      = s.input :spot_images, as: :file,label: false,class:"form-control" 
                    .form-inputs.form_group
                      = s.label :場所
                      = s.input :spotname,label: false,placeholder:"(例)井の頭公園", class:"form-control input_spotname"
                    .btn-wrap.center-align
                      %a.waves-effect.waves-light.btn.tooltipped.searchMaps{"data-delay" => "10", "data-position" => "top", "data-tooltip" => "GoogleMapにピンを立てます"}
                        %i.material-icons.right search
                        場所を検索する
                    .form_group.range-group
                      = s.label :評価
                      = s.range_field :evaluate,{:max => "5", :min => "1", :type => "range",class:"input-range" }
                    .form_group.range-field
                      = s.label :価格帯（円）
                      = s.range_field :price,{:max => "10000", :min => "0", :step => "500",:type => "range",class:"input-range select" }
                    .form_group.range-field
                      = s.label :滞在時間（分）
                      = s.range_field :time,{:max => "180", :min => "0", :step => "10" ,:type => "range",class:"input-range select" }
                    .form_group.range-field
                      = s.label :見どころ
                      = s.input :spotcontent,label: false,placeholder:"(例)豊かな緑と動物たち",class:"form-control"
                      = s.hidden_field :x, class:"x_lat"
                      = s.hidden_field :y, class:"y_lat"
                    .distance_input
                      %p 
                        次のスポットまでの距離：
                        %span.routeDistance - 
                      %p 
                        次のスポットまでの時間：               
                        %span.routeTime -
                = s.remove_nested_fields_link 'スポットを削除する', class: 'btn red darken-1 spot_deletebtn', role: 'button'
          = f.add_nested_fields_link :spots, 'スポットを追加する', class: 'btn btn-wrap waves-effect waves-light spot_addbtn', role: 'button' 
          .form-inputs.form_group
            = f.label :だれと？
            = f.input :tour_type,as: :select,label: false,prompt: "選択してください",collection:  ["一人で", "友達と" , "恋人と" , "家族と" ],  class: 'form-control select'
          .form-inputs.form_group
            = f.label :いつ？
            = f.input :season,as: :select,label: false,prompt: "選択してください",collection: ["3月~5月", "6月~8月" , "9月~11月" , "12月~2月" ],  class: 'form-control select'
          = f.label :タグ
          .chips.chips-placeholder#input_chip
          = f.hidden_field :tour_tags, class:"tour_tags hidden_area"
          .form-inputs.form_group
            = f.label :ツアーの説明 ,for: "tourcontent"
            = f.input :tourcontent,label: false,placeholder:"(例)鳥取県の海産グルメを満喫できるツアーです",autocomplete: "tourcontent",class:"materialize-textarea", id: "tourcontent",data: {length: "300"}
          = f.button :submit, "ツアーを作る",class:" btn btn-primary　center-align" ,onclick: "submitRequest()",id: "smtbtn"
  .col.s7
    .card
      .btn-wrap.right-align
        %a.waves-effect.waves-light.btn.red.darken-1.tooltipped{"data-delay" => "10", "data-position" => "top", "data-tooltip" => "GoogleMapのピンを削除します","onclick" => "deleteMakers()"}
          %i.material-icons.right cloud
          ピンを削除する
      .gmap-wrap
        #map

:javascript
  var map
  let geocoder
  let geos = []
  let spot_names = []
  let d
  let r
  var request

  initMap();

  //////////////////////////
  //initMap
  //Mapを初期化する
  //////////////////////////
  function initMap() {
    geocoder = new google.maps.Geocoder()
    let center;
    map = new google.maps.Map(document.getElementById('map'), {
      center: getCenterPosition(),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoom: 12
    });
    drawRoute();
  }

  //////////////////////////
  //drawRoute
  //Google Map上にルートを描画する
  //////////////////////////
  function drawRoute() {
    //マーカーが2つ以上の場合のみルートを描画する
    if (geos.length < 2) {
      return false
    }
    d = new google.maps.DirectionsService(); // ルート検索オブジェクト
    r = new google.maps.DirectionsRenderer({ // ルート描画オブジェクト
      map: map, // 描画先の地図
      preserveViewport: true, // 描画後に中心点をずらさない
    });
    r.setOptions({
      suppressMarkers: true,
      draggable: true,
      polylineOptions: {
        strokeColor: '#ff0000',
        strokeOpacity: 1,
        strokeWeight: 3
      }
    })
    request = createRequset();
    d.route(request, function (result, status) {
      // OKの場合ルート描画
      if (status == google.maps.DirectionsStatus.OK) {
        r.setDirections(result);
        setDistanceToHtml(result)
      }
    });
  }

  //////////////////////////
  //createRequset
  //Directions APIへのリクエストを生成する
  //////////////////////////
  function createRequset() {
    //マーカーが3つ以上の場合のみ経由地点を追加する
    let origin_point = new google.maps.LatLng(geos[0].x, geos[0].y)
    let destination_point = new google.maps.LatLng(geos[geos.length - 1].x, geos[geos.length - 1].y)
    let waypoints_list = []
    if (geos.length > 2) {
      for (i = 1; i < geos.length - 1; i++) {
        waypoints_list.push({
          location: new google.maps.LatLng(geos[i].x, geos[i].y)
        });
      }
      var request = {
        origin: {
          location: origin_point
        }, // 出発地
        destination: destination_point, // 目的地
        waypoints: waypoints_list,
        travelMode: google.maps.DirectionsTravelMode.DRIVING, // 交通手段(歩行。DRIVINGの場合は車)
      };
    } else {
      var request = {
        origin: origin_point, // 出発地
        destination: destination_point, // 目的地
        travelMode: google.maps.DirectionsTravelMode.DRIVING, // 交通手段(歩行。DRIVINGの場合は車),
      };
    }
    return request;
  }

  //////////////////////////
  //setDistanceToHtml
  //Spot間の時間と距離を算出する
  //////////////////////////
  function setDistanceToHtml(result){
    let inner = $('.inner:not(:last)')
    let time_in = inner.find('.routeDistance');
    let routeTime = inner.find('.routeTime');
    let resultLegs = result.routes[0].legs;
    if (resultLegs.length){
      for(let m=0;m <= resultLegs.length-1;m++){
        let leg_distance = resultLegs[m].distance;
        let leg_duration = resultLegs[m].duration;
        $(time_in[m]).text(leg_distance.text);
        $(routeTime[m]).text(leg_duration.text);
      }
    }
  }

  //////////////////////////
  //searchPlace
  //Google Mapの検索処理を行う
  //////////////////////////
  $(document).on('click','.searchMaps',function searchPlace() {
    let spot = $(this).parents('.spots_section');
    let inputAddress = spot.find('div[class $="_spotname"] input').val();
    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if (status == 'OK') {
        var marker = createMaker(results, inputAddress);
        setParamsToHidden(spot, results, marker, inputAddress);
        map.setCenter(getCenterPosition());
        if (geos.length >= 2) {
          initMap();
          redraw();
        }
      } else {
        alert('該当する結果がありませんでした：');
      }
    });
  })

  //////////////////////////
  //redraw
  //Map初期化時のマーカー再描画
  //////////////////////////
  function redraw() {  
    for (let ix = 0; ix <= geos.length - 1; ix++) {
      geocoder.geocode({
        latLng: new google.maps.LatLng(geos[ix].x, geos[ix].y)
      }, function (results, status) {
        if (status == 'OK') {
          map.setCenter(getCenterPosition());
          var marker = createMaker(results, spot_names[ix]);
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });
    }
  }

  //////////////////////////
  //createMaker
  //マーカー生成
  //////////////////////////
  function createMaker(results, inputAddress) {
    return new google.maps.Marker({
      map: map,
      position: results[0].geometry.location,
      icon: {
        fillColor: "blue",
        fillOpacity: 0.8,
        path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
        scale: 6,
        strokeColor: "blue",
        strokeWeight: 1.0
      },
      label: {
        text: inputAddress, //ラベル文字
        color: 'red', //文字の色
        fontSize: '16px', //文字のサイズ
        fontWeight: '600' //文字の太さ
      },
      animation: google.maps.Animation.DROP
    });
  }

  //////////////////////////
  //getCenterPosition
  //Mapの中心を設定する
  //////////////////////////
  function getCenterPosition(){
    if (!geos.length) {
      return new google.maps.LatLng(35.681382, 139.766084);
    } else {
      return new google.maps.LatLng(geos[geos.length - 1].x, geos[geos.length - 1].y);
    }
  }
  //////////////////////////
  //setParamsToHidden
  //パラメータの設定
  //////////////////////////
  function setParamsToHidden(spot, results, marker, inputAddress) {
    let location = results[0].geometry.location;
    let lat = location.lat();
    let lng = location.lng();
    spot.find(".x_lat").val(lat);
    spot.find(".y_lat").val(lng);
    geos.push({
      "x": lat,
      "y": lng
    });
    spot_names.push(inputAddress);
  }

  //////////////////////////
  //deleteMakers
  //Google Map上の全マーカーを削除する
  //////////////////////////
  function deleteMakers() {
    //生成済マーカーを順次すべて削除する
    map = new google.maps.Map(document.getElementById('map'), {
      center: new google.maps.LatLng(35.681382, 139.766084),
      zoom: 12
    });
    $(".x_lat").each(function () {
      $(this).val('');
    })
    $(".y_lat").each(function () {
      $(this).val('');
    })
    geos = [];
    spot_names = [];
    $('.spots_section').find(".tour_spots_spotname input").each(function () {
      $(this).val('');
    })
    let inner = $('.inner')
    let dist_in = inner.find('.distance_input');
    dist_in.each(function(){
      $(this).find('span').each(function(){
        $(this).text('-');
      })
    })
  }

  //////////////////////////
  //Mateliarizeの各種設定
  //////////////////////////
  $('.tooltipped').tooltip({delay: 50});

  //タグ入力欄の制御
  if($('.alert').length){
    $('#input_chip').removeClass('chips-placeholder');
    $('#input_chip').addClass('chips-initial');
    let chips_array = [];
    let tags_array = $('.tour_tags').val().split(',');
    tags_array.map(function(item){
      chips_array.push({tag:item});
    })
    $('.chips-initial').material_chip({
      data: chips_array,
    });
  } else{ 
    $('.chips-placeholder').material_chip({
      placeholder: 'タグを入力',
      secondaryPlaceholder: '追加',
    });
  }

  //評価入力欄の制御
  $('.range-group').each(function() {
    for (var i = 0; i < 5; i ++) {
      $(this).append('<a>');
    }
  }); 
  $('.range-group>a').on('click', function() {
    var index = $(this).index()-2;
    $(this).siblings().removeClass('on');
    for (var i = 0; i < index; i++) {
        $(this).parent().find('a').eq(i).addClass('on'); 
    }
    $(this).parent().find('.input-range').attr('value', index);
  });
  if($('.alert').length){
    $('.range-group').each(function(){
      let evaluate = Number($('.range-group').find('input').val());
      $(this).find('a').eq(evaluate-1).click();
    })
  }

  //submit時の設定
  $('#smtbtn').attr('type','button')
  function submitRequest(){
    try {
      let tags_text
      $('.chips').find('.chip').each(function(){
        tags_text += ($(this).text()+ ",");
      })
      let tags = tags_text.replaceAll('close','').replaceAll('undefined','');
      if(tags.slice(-1) === ","){
        tags = tags.slice(0,-1);
      } 
      $('.tour_tags').val(tags);
    } catch {
      return false;
    }finally{
    $('#smtbtn').attr('type','submit')
    $('#smtbtn').click();
    }
  }

