%h2.page_title ツアー作成ページ
.row
  .col.s5
    .card
      = simple_form_for(@tour) do |f|
        = f.error_notification
        .form-inputs.form_group
          = f.label :ツアータイトル
          = f.input :tourname,label: false,placeholder:"(例)大人の隠れ家！鎌倉カフェ巡り",                     
            input_html: { class:"form-control mb-3" } 
          .spots_section.form_group.form-inputs.border
          .card
            = f.simple_fields_for :spots do |s| 
              .spots_section.border
                %h6.page_title.mb-3 到着地点
                = s.label :画像
                = s.input :images, as: :file,
                  label: false,input_html: { class:"form-control" }  
                = s.label :場所
                = s.input :spotname,label: false,placeholder:"(例)井の頭公園",                                                               
                  input_html: { class:"form-control" }
                .btn-wrap.center-align
                  %a.waves-effect.waves-light.btn.tooltipped{"data-delay" => "10", "data-position" => "top", "data-tooltip" => "GoogleMapにピンを立てます"}
                    %i.material-icons.right> search
                    場所を検索する
                = s.label :見どころ
                = s.input :spotcontent,label: false,placeholder:"(例)豊かな緑と動物たち",                                                                 
                  input_html: { class:"form-control" } 
          .btn-wrap.center-align
            %a.waves-effect.waves-light.btn
              %i.material-icons.right> add_circle
              中間地点を増やす
          .chips.chips-placeholder
          = f.label :ツアーの説明
          = f.input :tourcontent,label: false,placeholder:"(例)鳥取県の海産グルメを満喫できるツアーです",                    
            input_html: { autocomplete: "tourcontent",class:"form-control"}
          = f.button :submit, "ツアーを作る",
            input_html: { class:" btn btn-primary　center-align " } 
  .col.s6.offset-s1
    .card
      .btn-wrap.right-align
        %a.waves-effect.waves-light.btn.red.darken-1.tooltipped{"data-delay" => "10", "data-position" => "top", "data-tooltip" => "GoogleMapのピンを削除します"}
          %i.material-icons.right> cloud
          ピンを削除する
      .gmap-wrap
        %img(src="https://internet.watch.impress.co.jp/img/iw/docs/1031/465/01_s.jpg" alt="GoogleMap")/
:javascript
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
  var chip = {
    tag: 'chip content',
    image: '', //optional
    id: 1, //optional
  };
  $('.chips-placeholder').material_chip({
    placeholder: 'タグを入力',
    secondaryPlaceholder: '追加',
  });
