%h2.page_title.mb-2 ツアー詳細
.row
  .col.s5
    .card
      .gmap-wrap
        #map
  .col.s7.tour_info-show
    .card
      .card-body
        %h4.tourtitle-show
          =@tour.tourname
        .user_info
          .img_circle-show
            - if @tour.user.user_image.present?
              %img{:src => "#{@tour.user.user_image}"}/
            - else 
              %img{:src => "/assets/noUser.jpg"}/
          =link_to("#{@tour.user.username}さん",user_path(@tour.user.id),class:"user_nameLink")
        - if @tour.tour_tags.present?
          .tags_area
            .row.flex
              .tag_left
                %p.tags_about タグ一覧 :
              .tag_right.tagList
                - for i in 0..@tour.tour_tags.split(",").length-1
                  .chip
                    #{@tour.tour_tags.split(",")[i]}
        %h6.icons-show
          = icon "fa",'heart',class:"like good_icon"
          %span.likes_count#likes_count #{@tour.likes.count}
          = icon "fa",'edit'
          %span.comment_count#comment_count #{@tour.comments.count}
        .action_btns
          #likes_ajax.middleSize_btn
            = render partial: 'likes/likes_box'
          / モーダル表示ボタン
          #favorites_ajax.middleSize_btn
            =render "favorites/favorites_form"
          %button.btn.modal-trigger.middleSize_btn{"data-target" => "modalview"} コメントする
        %ul.collapsible.popout{"data-collapsible" => "accordion"}
          - @tour.spots.each do |spot|
            %li.spot_item.inner
              .collapsible-header
                %i.material-icons add_circle
                %span.spot_name #{spot.spotname}
                %span.result-rating-rate.right-content
                  %span.star5_rating{"data-rate" => "#{spot.evaluate}"}
                  %span.number_rating #{spot.evaluate}
              .collapsible-body
                .row 
                  .col.s4 
                    .spotimgWrap
                      - if spot.spot_images.present?
                        %img{:src => "#{spot.spot_images}"}
                      - else 
                        %img{:src => "https://chofuguide.com/wp-content/uploads/2019/08/chtoseyacafe.jpg"}
                  .col.s8
                    %p.spot_about 滞在時間: #{spot.time}分
                    %p.spot_about 予算: ¥#{spot.price}
                    .hidden_area
                      %p.spot_x #{spot.x}
                      %p.spot_y #{spot.y}
                    .distance_input
                      %p 
                        次のスポットまでの距離：
                        %span.routeDistance - 
                      %p 
                        次のスポットまでの時間：               
                        %span.routeTime -
                    %span 見どころ: #{spot.spotcontent}
                  
          %li
            .collapsible-header
              %i.material-icons add_circle
              老舗料理屋「なかにし」
            .collapsible-body
              .row 
                .col.s4 
                  .spotimgWrap
                    %img{:src => "https://chofuguide.com/wp-content/uploads/2019/08/chtoseyacafe.jpg"}
                .col.s7.offset-s1
                  %p.spot_about 滞在時間: 60分
                  %p.spot_about 予算: ¥1400
                  %span キンメの煮付けとナスの煮浸しが絶品です。歴史ある雰囲気で落ち着いた空間です。            
          %li
            .collapsible-header
              %i.material-icons add_circle
              カフェ「Callse Luvis」
            .collapsible-body
              %p.spot_about 滞在時間: 60分
              %p.spot_about 予算: ¥1400
              -# %img{:src => "https://lh3.googleusercontent.com/proxy/jgxxH341bFZEnTc0tgaeRFLtoser8w7U6bzRq8veLol4-HNwUGodePlZZqHK4UahYZNhPO1hjUB8MTLfrkgnLlk"}/
              %span テラスからのオーシャンビューは最高！甘いレモネードを飲みながらまったり過ごせます。
          %li
            .collapsible-header
              %i.material-icons add_circle
              錦水館
            .collapsible-body
              %p.spot_about 滞在時間: 60分
              %p.spot_about 予算: ¥1400
              -# %img{:src => "https://lh3.googleusercontent.com/proxy/jgxxH341bFZEnTc0tgaeRFLtoser8w7U6bzRq8veLol4-HNwUGodePlZZqHK4UahYZNhPO1hjUB8MTLfrkgnLlk"}/
              %span 人気連続ドラマ「からちゃん」のロケ地で有名になった旅館です。かけ流しの温泉が身も心も癒やしてくれます。
        .tags_area
          .row.flex.mlclear-index
            .tag_left
              %p.tags_about タグ一覧 :
            .tag_right.tagList
              - if @tour.tour_tags.present?
                - for i in 0..@tour.tour_tags.split(",").length-1
                  .chip
                    #{@tour.tour_tags.split(",")[i]}
        %h6.tourcontent-show
          誰と行く？: #{@tour.tour_type}
        %h6.tourcontent-show
          いつ行く？: #{@tour.season}
        %h6.tourcontent-show
          = @tour.tourcontent
        -if current_user == @tour.user
          = link_to "編集",edit_tour_path(@tour.id),data: { turbolinks: false},class:"card-link"
          = link_to "削除","/tours/#{@tour.id}",class:"card-link",method: :delete
        %p.tour_createTime 作成日時：#{@tour.created_at.strftime('%m月%d日 %H時%M分' )}
  .col.s12
    .cm-wrap
      #comments_area
        %h6.page_title 
        コメント一覧
        = render 'comments/index', comments: @tour.comments 
        = render 'comments/form', comment: @comment, tour: @tour 
= javascript_include_tag 'tours/show.js' 
