%h2.page_title.mb-2 ツアー詳細
.row
  .col.s5
    .card
      .gmap-wrap
        %img(src="https://internet.watch.impress.co.jp/img/iw/docs/1031/465/01_s.jpg" alt="GoogleMap")/
  .col.s7.tour_info-show
    .card
      .card-body
        %h4.tourtitle-show
          =@tour.tourname
        .user_info
          .img_circle-show
            %img{:src => "https://lh3.googleusercontent.com/proxy/jgxxH341bFZEnTc0tgaeRFLtoser8w7U6bzRq8veLol4-HNwUGodePlZZqHK4UahYZNhPO1hjUB8MTLfrkgnLlk"}/
          =link_to("#{@tour.user.username}さん",user_path(@tour.user.id),class:"user_nameLink" )
        -# .card-subtitle
        -#   .spots_section.row.border
        -#     .col-4
        -#       %img(src="https://internet.watch.impress.co.jp/img/iw/docs/1031/465/01_s.jpg" alt="GoogleMap")/
        -#       -# - if @spot0.images.attached?
        -#       -#   - @spot0.images.each do |image| 
        -#       -#     = image_tag(image.variant(resize: '130x130').processed)
        -#     .col-8
        -#       -# %h4.card-title  
        -#       -#   =@spot0.spotname
        -#       -# %h6.card-title
        -#       -#   =@spot0.spotcontent
        -#   .arrows_box
        -#     = icon 'fa','arrow-down'
        -#   .spots_section.row.border
        -#     .col-4
        -#       %img(src="https://internet.watch.impress.co.jp/img/iw/docs/1031/465/01_s.jpg" alt="GoogleMap")/
        -#       -# - if @spot1.images.attached?
        -#       -#   - @spot1.images.each do |image| 
        -#       -#     = image_tag(image.variant(resize: '130x130').processed)
        -#     .col-8
        -#       -# %h4.card-title  
        -#       -#   =@spot1.spotname
        -#       -# %h6.card-title
        -#       -#   =@spot1.spotcontent
        %h6.tourcontent-show
          = @tour.tourcontent
        %h6.icons-show
          = icon "fa",'heart',class:"dislike good_icon"
          %span.likes_count #{@likes.count}
          = icon "fa",'edit'
          %span.comment_count #{@comments.count}
        .action_btns
          #likes_ajax.middleSize_btn
            = render partial: 'likes/likes_box'
          / モーダル表示ボタン
          #favorites_ajax.middleSize_btn
            =render "favorites/favorites_form"
          %button.btn.modal-trigger.middleSize_btn{"data-target" => "modalview"} コメントする
        -if current_user == @tour.user
          = link_to "編集",edit_tour_path(@tour.id),data: { turbolinks: false},class:"card-link"
          = link_to "削除","/tours/#{@tour.id}",class:"card-link",method: :delete
        %ul.collapsible.popout{"data-collapsible" => "accordion"}
          %li
            .collapsible-header
              %i.material-icons> add_circle
              老舗料理屋「なかにし」
            .collapsible-body
              %p.spot_about 滞在時間: 60分
              %p.spot_about 予算: ¥1400
              -# %img{:src => "https://lh3.googleusercontent.com/proxy/jgxxH341bFZEnTc0tgaeRFLtoser8w7U6bzRq8veLol4-HNwUGodePlZZqHK4UahYZNhPO1hjUB8MTLfrkgnLlk"}/
              %span キンメの煮付けとナスの煮浸しが絶品です。歴史ある雰囲気で落ち着いた空間です。            
          %li
            .collapsible-header
              %i.material-icons> add_circle
              カフェ「Callse Luvis」
            .collapsible-body
              %p.spot_about 滞在時間: 60分
              %p.spot_about 予算: ¥1400
              -# %img{:src => "https://lh3.googleusercontent.com/proxy/jgxxH341bFZEnTc0tgaeRFLtoser8w7U6bzRq8veLol4-HNwUGodePlZZqHK4UahYZNhPO1hjUB8MTLfrkgnLlk"}/
              %span テラスからのオーシャンビューは最高！甘いレモネードを飲みながらまったり過ごせます。
          %li
            .collapsible-header
              %i.material-icons> add_circle
              錦水館
            .collapsible-body
              %p.spot_about 滞在時間: 60分
              %p.spot_about 予算: ¥1400
              -# %img{:src => "https://lh3.googleusercontent.com/proxy/jgxxH341bFZEnTc0tgaeRFLtoser8w7U6bzRq8veLol4-HNwUGodePlZZqHK4UahYZNhPO1hjUB8MTLfrkgnLlk"}/
              %span 人気連続ドラマ「からちゃん」のロケ地で有名になった旅館です。かけ流しの温泉が身も心も癒やしてくれます。
        %p.tour_createTime 作成日時：#{@tour.created_at.strftime('%m月%d日 %H時%M分' )}
  .col.s12
    .cm-wrap
      #comments_area
        %h6.page_title 
        コメント一覧
        = render partial: 'comments/index',
          locals: { comments: @comments }
        = render partial: 'comments/form',
          locals: { comment: @comment, tour: @tour }
:javascript
  $('.collapsible').collapsible();
  $('.collapsible').collapsible('open', 0);
