%header  
  %nav
    .nav-wrapper.inner-content
      = link_to tours_path,class:"nav-link brand-logo" do
        Tourly
      %ul.right.hide-on-med-and-down
        %li
          / Modal Trigger
          %a.modal-trigger{:href => "#modal1"} ログイン
          / Modal Structure
          #modal1.modal.small_modal{:style => "width: 550px;"}
            .modal-content.menu-content
              %h4 ログインメニュー
              -if current_user  
                .header_inner
                  = link_to new_tour_path,data: { turbolinks: false},class:"btn" do
                    tourをつくる
                  = link_to user_path(current_user.id),class:"btn light-blue darken-1" do
                    マイページ 
                  = link_to logout_path, method: :delete,class:"btn red darken-1" do
                    ログアウト
              -else  
                .header_inner
                  = link_to "/test_login",method: :post,class:"btn" do
                    テストユーザーでログイン
                  = link_to login_path,class:"btn light-blue darken-1" do
                    ログイン
                  = link_to new_user_path,class:"btn red darken-1" do
                    新規登録
            .modal-footer
              %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#modal1"} 閉じる
:javascript
  $('#modal1').modal();
  $('.modal-action , .modal-trigger').click(function(e){
    e.preventDefault();
    if(!$('#modal1').hasClass('open')){
      $('#modal1').modal('open');
    }
  })